body {
  background-image: url('../images/background.jpg');
  background-size: cover;
  overflow-x: hidden
}

.shadow {
  background: -moz-linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
  height: 40px;
  margin-top: 0;
  padding: 0;
}
p, h1, h2, h3, h4, h5, h6, li {
  font-family: Ovo;
}

#nav {
  background: #222;
  background-size: cover;
  color: white;
  line-height: 36px;
  padding: 0 30px 0 30px;
  margin-bottom: 0;
}

#nav h4 {
  color: white;
}

.container .one-half.column {
  width: 420px;
}

.container.topRule {
  border-top: solid 1px #BBD;
  padding-top: 30px;
}

.container .one-quarter.column {
  width: 220px;
}

.fillWidth {
  width: 100%;
}

hr {
  border-color: #AAC;
}

code, pre {
  font-family: 'Cutive Mono';
}

pre {
  background-color: rgba(255, 240, 220, 0.4);
  padding: 8px 14px;
  border: solid 1px rgba(200, 200, 220, 0.9);
  overflow-x: scroll;
}

pre#codepane {
  height: 320px;
}

pre ::-webkit-scrollbar{width:9px;height:9px;}
pre ::-webkit-scrollbar-button:start:decrement,pre ::-webkit-scrollbar-button:end:increment{display:block;height:0;background-color:transparent;}
pre ::-webkit-scrollbar-track-piece{background-color:#FAFAFA;-webkit-border-radius:0;-webkit-border-bottom-right-radius:8px;-webkit-border-bottom-left-radius:8px;}
pre ::-webkit-scrollbar-thumb:vertical{height:50px;background-color:#999;-webkit-border-radius:8px;}
pre ::-webkit-scrollbar-thumb:horizontal{width:50px;background-color:#999;-webkit-border-radius:8px;}

#copyright {
  border-top: solid 1px #BBD;
}

.balloons {
  background: #081319 url('../images/balloon.jpg') no-repeat left top;
  background-size: auto 100%;
  height: 330px;
  margin-bottom: 30px;
}

img { 
    image-rendering: -moz-crisp-edges;          /* Firefox             */
}

#links {
  width: 100%;
  padding: 50px 0 30px 0;
  margin-top: 30px;
  background: rgb(251,253,253);
  background: -moz-linear-gradient(-45deg, rgba(251,253,253,0.7) 0%, rgba(236,248,252,0.7) 50%, rgba(221,243,251,0.7) 53%, rgba(246,252,254,0.7) 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(251,253,253,0.7)), color-stop(50%,rgba(236,248,252,0.7)), color-stop(53%,rgba(221,243,251,0.7)), color-stop(100%,rgba(246,252,254,0.7)));
  background: -webkit-linear-gradient(-45deg, rgba(251,253,253,0.7) 0%,rgba(236,248,252,0.7) 50%,rgba(221,243,251,0.7) 53%,rgba(246,252,254,0.7) 100%);
  background: -o-linear-gradient(-45deg, rgba(251,253,253,0.7) 0%,rgba(236,248,252,0.7) 50%,rgba(221,243,251,0.7) 53%,rgba(246,252,254,0.7) 100%);
  background: -ms-linear-gradient(-45deg, rgba(251,253,253,0.7) 0%,rgba(236,248,252,0.7) 50%,rgba(221,243,251,0.7) 53%,rgba(246,252,254,0.7) 100%);
  background: linear-gradient(135deg, rgba(251,253,253,0.7) 0%,rgba(236,248,252,0.7) 50%,rgba(221,243,251,0.7) 53%,rgba(246,252,254,0.7) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfdfd', endColorstr='#f6fcfe',GradientType=1 );
}

#links h4 {
  line-height: 0.9em;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
  border-bottom: solid 1px #BBD;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}

#links li {
  line-height: 0.9em;
  font-size: 80%;
  text-transform: uppercase;
}

#links li a {
  text-decoration: none;
}

a, a:visited { color: #0A0A0D; text-decoration: none; }
a:hover {
  color: #D75F43;
  text-shadow: 0 0 0.4em #FFB, 0 0 2.8em #FFB;
  text-decoration: none;
  font-weight: bold;
}


#nav a, #nav a:hover, #nav a:visited {
  color: white;
}
